body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow: hidden;
  text-align: center;
  font-family: arial;
}

#stopGame,#pauseGame,#resumeGame {
  display: none;
}

#stopGame,#pauseGame,#resumeGame,#startGame {
  margin-top: 10px;
  font-size: 18px;
  padding: 5px 12px;;
}

.scoreBoard {
  width: 300px;
  height: 35px;
  background: #f00;
  margin: 10% auto 0;
  color: #fff;
}

.scoreText {
  display: inline-block;
  margin: 5px;
  float: left;
  font-size: 20px;
}

.scoreNumber {
  display: inline-block;
  float: right;
  margin: 5px;
  font-size: 20px;
}

#gameCnt {
  height: 300px;
  width: 300px;
  margin: 0px auto 0;
}

p {
  background: #000;
  height: 10px;
  width: 10px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
